<h2 style="margin-bottom: 0px">
   Pending Notarization Pool
</h2>
<h4 style="font-size: 14px; margin-top: 0px"></h4>
<div class="center info" style="text-align: center;width:80%;color:#949490">

   <p>Ntzpool data preparation for the front page failed.
    Its processing
       {{#network_info}}{{^is_pool_size_zero}}({{ntz_pool_size}} txs){{/is_pool_size_zero}}{{/network_info}}
       took longer than expected and it timed out.
    To view the ntzpool without time constraint,
    go to dedicated ntzpool page: <a href="/ntzpool">Pending Notarization Pool</a>
    </p>



</div>

